<tr onclick="location.href='<%=profile_path(accepted_invitation.candidate.profile)%>';" style="cursor:pointer">
	<td>
		<% if accepted_invitation.approval.paid == true %><%= accepted_invitation.candidate.name %><%else%> Payment failed <%end%>
	</td>
	<td>
		<%= accepted_invitation.candidate.profile.jobs.first.position.name if accepted_invitation.candidate.profile.jobs.first %>
	</td>

	<td>
	
		<%= accepted_invitation.candidate.profile.platforms.map(&:name).join(", ") %>
	</td>
	<td>
		<%= accepted_invitation.candidate.profile.ios_years %>
	</td>		
	<td>
		<%= display_education_level(accepted_invitation.candidate.profile.education_level) %>
	</td>		

  </tr>