<tr onclick="location.href='<%=profile_path(accepted_invitation.candidate.profile)%>';" style="cursor:pointer">
	<td>
		<% if accepted_invitation.approval.paid == true %><%= accepted_invitation.candidate.name %><%else%> Payment failed <%end%>
	</td>
	<td>
		<%= accepted_invitation.candidate.profile.highest_position.name if accepted_invitation.candidate.profile.highest_position %>
	</td>
	<td>
		<%= accepted_invitation.candidate.profile.platforms.map(&:name).join(", ") %>
	</td>
	<td>
		<%= app_years(accepted_invitation.candidate.profile.app_years)  %>
	</td>
	<td>
		<%= apps_sum(accepted_invitation.candidate.profile.ios_apps, accepted_invitation.candidate.profile.android_apps) %>
	</td>						
	<td>
		<%= display_education_level(accepted_invitation.candidate.profile.education_level) %>
	</td>
	<td>
		<%= short_willingness(accepted_invitation.candidate.profile.silicon_valley, accepted_invitation.candidate.profile.silicon_valley_part_time) %>
	</td>		

  </tr>