<tr onclick="location.href='<%=profile_path(accepted_invitation.candidate.profile)%>';" style="cursor:pointer">

	<td>
		<% if accepted_invitation.approval.paid == true %><%= accepted_invitation.candidate.name %><%else%> Payment failed <%end%>
	</td>
	<td>
		<%= display_education_level(accepted_invitation.candidate.profile.highest_degree.level) if accepted_invitation.candidate.profile.highest_degree %>
	</td>
	<td>
		<%= accepted_invitation.candidate.profile.highest_degree.subject.name if accepted_invitation.candidate.profile.highest_degree && accepted_invitation.candidate.profile.highest_degree.subject %>
	</td>
	<td>
		<%= accepted_invitation.candidate.profile.highest_degree.school.name if accepted_invitation.candidate.profile.highest_degree && accepted_invitation.candidate.profile.highest_degree.school %>
	</td>
	<td>
		<div class ="hidden-phone"><%= accepted_invitation.candidate.profile.highest_degree.year if accepted_invitation.candidate.profile.highest_degree %></div>
	</td>			

  </tr>