<%= simple_nested_form_for(@profile, :html => {:class => 'form-horizontal'}) do |f| %>
  	<%= f.error_notification %>

  	<div class="form-inputs">
  		<div class ="module"></div>
		<b>Your job status</b><br><br>
			<%= f.association :city, label: 'Geographical restriction', prompt: "Select city",:include_blank => "None", :hint => "Select only if you will work nowhere else" %>
			<%= f.input :work_permit, label: 'Permit', inline_label: 'I am currently permitted to work in the US.' %>
			<%= f.input :general_min_yearly_salary, label: 'Minimum annual salary', placeholder: 'e.g. "65000"', hint: 'Your minimum desired annual salary (in USD)' %>
			<%= f.input :general_min_hourly_salary, label: 'Minimum hourly salary', placeholder: 'e.g. "80"', hint: 'Your minimum desired hourly salary for freelance projects (in USD)' %>
		  	<%= f.input :notice_period, label: 'Notice period', placeholder: 'e.g. "3"', hint: 'How quickly could you start (in weeks)?'%>
		<%= f.input :biomed_years, label: 'Experience', placeholder: 'e.g. "2.5"', hint: 'How many years have you been working as a biomedical engineer?' %>
		<div class ="module"></div>

		<b>Work experience (start with your last/current job)</b><br><br>

		<%= f.fields_for :jobs do |job_form| %>
		
		  	<%= job_form.input :company_name, label: 'Company name (optional)' %>
		  	<%= job_form.input :company_size, collection: [["myself only",1], ["2-10",2], ["11-50", 3],["51-200", 4],["201-500", 5],["501-1,000", 6],["1,001-5,000", 7],["5,001-10,000", 8],["10,001+",9]], prompt: "Select number of employees", label: 'Company size' %>
		  	<%= job_form.input :company_stage_id, collection: [["pre-IPO",1], ["post-IPO",2]], prompt: "Select company's stage", label: 'Company stage (when you started)' %>
		  	<%= job_form.association :field, label: 'Field', prompt: "Select most appropriate field" %>
		  	<%= job_form.association :biomed_title, label: 'Title', prompt: "Select most appropriate title" %>
		  	<%= job_form.association :biomed_position, label: 'Position', prompt: "Select position" %>
		  	<%= job_form.input :team_size, label: 'Number of people led by you', placeholder: 'e.g. "5"' %>
		  	<%= job_form.association :biomed_skills, as: :check_boxes, label: 'Skills applied by you' %>
		  	<%= job_form.input :start_date, label: 'Start date' %>
		  	<%= job_form.input :end_date, label: 'End date' %>
		  	<%= job_form.input :current, label: false, inline_label: 'I\'m currently holding this job (overwrites the end date)' %>
		  	<%= job_form.input :contract, collection: [["Full-time",1], ["Part-time",2]], prompt: "Select contract", label: 'Full-time or part-time?' %>
		  	<%= job_form.input :annual_salary, label: 'Annual salary if full-time', placeholder: 'e.g. "65000"', hint: 'Annual salary (in USD)' %>
		  	<%= job_form.input :hourly_salary, label: 'Hourly salary if part-time', placeholder: 'e.g. "50"', hint: 'Hourly salary (in USD)' %>
		  	<p><%= job_form.link_to_remove "[-] Remove the above work experience" %></p>
		  	<br><br>
		<div class ="slim_module"></div>

		<% end %>

		<p><%= f.link_to_add "[+] Add a work experience", :jobs %></p>

		<div class ="module"></div>
		<b>Education</b><br><br>
		<%= f.simple_fields_for :degrees do |degree_form| %>
		  	<%= degree_form.input :level, collection: [["Highschool",1], ["College/Undergraduate",2], ["Master/Graduate",3], ["Postgraduate/PhD",4]], prompt: "Select degree", label: 'Degree' %>
		<%= degree_form.input :school_name, label: "School/university", placeholder: 'e.g. "University of California, Berkeley"'  %>
		<%= degree_form.association :subject, collection: Subject.order('name'), prompt: "Select subject", label: "Your major/main subject" %>
		<%= degree_form.input :gpa, label: "Your GPA", placeholder: 'e.g. "3,65"' %>

		  	<p><%= degree_form.link_to_remove "[-] Remove the above degree" %></p>
		  	  	<br><br>
		<div class ="slim_module"></div>
		<% end %>
		<p><%= f.link_to_add "[+] Add a degree", :degrees %></p>
<div class ="module"></div>
<b> Standardized test scores </b>
<br><br>
<%= f.simple_fields_for :test_scores do |test_score_form| %>
		  	<%= test_score_form.input :test_type, collection: [["SAT math",1], ["SAT critical reading",2], ["SAT writing",3], ["ACT English",4], ["ACT math",5], ["ACT reading",6], ["ACT science",7]], prompt: "Select test type", label: 'Test type' %>
		<%= test_score_form.input :score, label: "Score", placeholder: 'e.g. "501"'  %>
		
		  	<p><%= test_score_form.link_to_remove "[-] Remove the above test score" %></p>
		  	  	<br><br>
		<div class ="slim_module"></div>
		<% end %>
		<p><%= f.link_to_add "[+] Add a test score", :test_scores %></p>
<div class ="module"></div>
	
<b>	Confirm accuracy </b>
<br><br>

<%= f.input :confirmed, label: false, inline_label: 'All my responses above are 100% true and I am able to provide reference material if needed.' %>	
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>


