<div class="row">
<div class ="span6">
	<% if correct_candidate? == true %>
	<h4>
		Sit back and relax. 
		<br>Interested companies will message you.
		<br>You decide whether to reveal your identity and connect.
	</h4>

	<%else%>
<h4>Anonymous CV</h4>
<%end%>
Last updated:</b> <%= time_ago_in_words(@profile.updated_at)%> ago
<br><br>
<div class ="module"></div>  
<h5>Job preferences</h5>
<table class="table table-striped">
    <tbody>
    	 <tr>
			<td>Desired type of employment: </b></td>
			<td><%= willingness(@profile.full_time, @profile.part_time) %></td>
		</tr>
		<tr>
			<td> Min. desired annual salary: </b></td>	
  			<td>	<%= @profile.general_min_yearly_salary %> USD</td>
  		</tr>
  		<% if @profile.general_min_hourly_salary %>
  		<tr>
			<td> Min. desired hourly compensation: </b></td>	
  			<td>	<%= @profile.general_min_hourly_salary %> USD</td>
  		</tr>
  		<% end %>
    	<tr>
      		<td> Notice period: </b></td>
  			<td><%= @profile.notice_period.to_s %> week(s) </td>
  		</tr>
  		<tr>
			<td>U.S. work permit: </b></td>
			<td><% if @profile.work_permit == true %>Yes<%else%>No<% end %></td>
		</tr>
		<% if @profile.app_years %>
		<tr>
			<td>Professional work experience: </b></td>
			<td><%= app_years(@profile.app_years)%></td>
		</tr>
		<% end %>
	</tbody>
</table>


<% if @profile.degrees.any? %>
	<div class ="module"></div>
	<h5>Education</h5>
		<% @profile.degrees.each do |degree| %>


				<table class="table table-striped">
					<tbody>
							<tr>
					      		<td><b>Degree:</b>
								<td><b><%= display_education_level(degree.level) %></td>
							</tr>
							<% if degree.school %>
							<tr>
								<td>School/University:</b></td>
								<td><%= degree.school.name %></td>
							</tr>
							<% end %>

							<% if degree.subject %>
							<tr>
								<td>Subject/Major:</td>
								<td><%= degree.subject.name if degree.subject %></td>
							</tr>
							<% end %>
							<% if degree.gpa %>
							<tr>
								<td>GPA:</td> 
								<td><%= degree.gpa %></td>
							</tr>
							<%end%>
							<tr>
								<td>Year:</b></td>
								<td><%= degree.year %></b></td>
							</tr>
					</tbody>
				</table>
				<% unless degree == @profile.degrees.last %><div class ="slim_module"></div><%end%>


		<%end%>
<%end%>		

<% if @profile.test_scores.any? %>
		<div class ="module"></div>
		<h5>Standardized test scores</h5>

		<table class="table table-striped">
			<tbody>
				<% @profile.test_scores.each do |test_score| %>
			    		<tr>
				      		<td><%= test_score_name(test_score.test_type) %> </td>
				      		<td><%= test_score.score %></td>
			      		</tr>
			     <% end %>
			</tbody>
		</table>
<%end%>


<% if @profile.jobs.any? %>
	<div class ="module"></div>
	<h5>Work experience</h5>
		<% @profile.jobs.each do |job| %>
				<table class="table table-striped">
				  	<% if job.platforms %>
						<tbody>
							<% if job.position_name%>
								<tr>
									<td><b>Position:</b></td>
									<td><b><%= job.position_name %></b></td>
								</tr>
							<% end %>
							<tr>
									<td>Time period</td>		
									<td><%= job.start_date %> till <% if job.current == true%> now<%else%><%= job.end_date %><%end%></td>
							</tr>
							<% if job.company_name %> 
								<tr>
									<td>Company: </b></td>
									<td><%= job.company_name %></td>
								</tr>
							<% end %>
							<% if job.company_size %> 
								<tr>
									<td>Company size: </b></td>
									<td><%= number_of_employees(job.company_size) %> employees </td>
								</tr>
							<% end %>
													<tr>
								<td>Contract:</b></td>
								<td><%= contract(job.contract) %></td>
							</tr>
							<% if job.annual_salary %>
								<tr>
									<td>Annual salary:</b></td>
									<td> <%= job.annual_salary %> USD</td>
								</tr>
							<%end%>
							
							<% if job.hourly_salary %>
								<tr>
									<td>Hourly salary:</b></td>
									<td><%= job.hourly_salary %> USD</td>
								</tr>
							<%end%>
						</tbody>
					<%end%>
				</table>
				<% unless job == @profile.jobs.last %><div class ="slim_module"></div><%end%>
		<%end%>
<%end%>


</div>
</div>