<div class="row">
<div class ="span8">
	<% if correct_candidate? == true %>
	<h3>
		Sit back and relax. </h3>
		<h4>Interested companies will message you.
		<br>You decide whether to reveal your identity and connect.</h4>
	

	<%else%>
<h4>Anonymous CV</h4>
<%end%>
Last updated:</b> <%= time_ago_in_words(@profile.updated_at)%> ago
<br><br>
<div class ="module"></div>  
<h5>Job preferences</h5>
<table class="table table-striped">
    <tbody>
    	 <tr>
			<td>Willing to work in the Bay Area: </b></td>
			<td><%= willingness(@profile.silicon_valley, @profile.silicon_valley_part_time) %></td>
		</tr>
		<tr>
			<td> Minimum annual salary: </b></td>	
  			<td>	$<%= number_with_delimiter(@profile.general_min_yearly_salary, :delimiter => ',')  %></td>
  		</tr>
  		<% if @profile.general_min_hourly_salary %>
  		<tr>
			<td> Minimum hourly wage: </b></td>	
  			<td>	$<%= number_with_delimiter(@profile.general_min_hourly_salary, :delimiter => ',') %></td>
  		</tr>
  		<% end %>
    	<tr>
      		<td> Notice period: </b></td>
  			<td><%= @profile.notice_period.to_s %> week(s) </td>
  		</tr>
  		<tr>
			<td>U.S. work permit: </b></td>
			<td><% if @profile.work_permit == true %>Yes<%else%>No<% end %></td>
		</tr>
		<% if @profile.app_years %>
		<tr>
			<td>Professional hacking experience: </b></td>
			<td><%= app_years(@profile.app_years)%></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% if (@profile.ios_years && @profile.ios_years > 0) || (@profile.ios_apps && @profile.ios_apps > 0) %>
<div class ="module"></div>  
<h5>iOS experience</h5>
<table class="table table-striped">
    <tbody>
		<tr>
			<td>Self-built iOS apps in the App Store: </b></td>
			<td><%= ios_apps(@profile.ios_apps) %></td>
		</tr>
		<tr>
			<td>Professional iOS experience: </b></td>
			<td><%= app_years(@profile.ios_years)%></td>
		</tr>
	</tbody>
</table>
<%end%>

<% if (@profile.android_years && @profile.android_years > 0) || (@profile.android_apps && @profile.android_apps > 0) %>
<div class ="module"></div>  
<h5>Android experience</h5>
<table class="table table-striped">
    <tbody>
		<tr>
			<td>Self-built Android apps in the Play Store: </b></td>
			<td><%= android_apps(@profile.android_apps) %></td>
		</tr>
		<tr>
			<td>Professional Android experience: </b></td>
			<td><%= app_years(@profile.android_years)%> </td>
		</tr>
	</tbody>
</table>
<%end%>

<% if @profile.jobs.any? %>
	<div class ="module"></div>
	<h5>Professional hacking experience</h5>
		<% @profile.jobs.each do |job| %>
				<table class="table table-striped">
				  	<% if job.platforms %>
						<tbody>
							<% if job.position%>
								<tr>
									<td><b>Position:</b></td>
									<td><b><%= job.position.name %></b></td>
								</tr>
							<% end %>
							<tr>
									<td>Time period</td>		
									<td><%= job.start_date.strftime("%m/%Y") %> to <% if job.current == true%> now<%else%><%= job.end_date.strftime("%m/%Y") %><%end%></td>
							</tr>
							<tr>
									<td>Platforms/languages:</b></td>
									<td><%= job.platforms.map(&:name).join(", ")%></td>
					  		</tr> 
							<% if job.company_name && job.company_name != "" %> 
								<tr>
									<td>Company/Organization: </b></td>
									<td><%= job.company_name %></td>
								</tr>
							<% end %>
							<% if job.company_size %> 
								<tr>
									<td>Company size: </b></td>
									<td><%= number_of_employees(job.company_size) %> employees </td>
								</tr>
							<% end %>
							<tr>
								<td>Contract:</b></td>
								<td><%= contract(job.contract) %></td>
							</tr>
						</tbody>
					<%end%>
				</table>
				<% unless job == @profile.jobs.last %><div class ="slim_module"></div><%end%>
		<%end%>
<%end%>

<% if @profile.degrees.any? %>
	<div class ="module"></div>
	<h5>Education</h5>
		<% @profile.degrees.each do |degree| %>


				<table class="table table-striped">
					<tbody>
							<tr>
					      		<td><b>Degree:</b>
								<td><b><%= display_education_level(degree.level) %></td>
							</tr>
							<% if degree.school %>
							<tr>
								<td>University/College:</b></td>
								<td><%= degree.school.name %></td>
							</tr>
							<% end %>

							<% if degree.subject %>
							<tr>
								<td>Subject:</td>
								<td><%= degree.subject.name if degree.subject %></td>
							</tr>
							<% end %>
							<% if degree.gpa %>
							<tr>
								<td>GPA:</td> 
								<td><%= degree.gpa %></td>
							</tr>
							<%end%>
							<tr>
								<td>Year:</b></td>
								<td><%= degree.year %></b></td>
							</tr>
					</tbody>
				</table>
				<% unless degree == @profile.degrees.last %><div class ="slim_module"></div><%end%>


		<%end%>
<%end%>		

<% if @profile.test_scores.any? %>
		<div class ="module"></div>
		<h5>Standardized test scores</h5>

		<table class="table table-striped">
			<tbody>
				<% @profile.test_scores.each do |test_score| %>
			    		<tr>
				      		<td><%= test_score_name(test_score.test_type) %> </td>
				      		<td><%= test_score.score %></td>
			      		</tr>
			     <% end %>
			</tbody>
		</table>
<%end%>





</div>
</div>