<tr onclick="location.href='<%=profile_path(invitation.candidate.profile)%>';" style="cursor:pointer">
	

	<td>
		<%= invitation.candidate.profile.highest_position.name if invitation.candidate.profile.jobs.first %>
	</td>

	<td>
	
		<%= invitation.candidate.profile.platforms.map(&:name).join(", ") %>
	</td>
	<td>
		<%= invitation.candidate.profile.ios_years %> years
	</td>		
	<td>
		<%= display_education_level(invitation.candidate.profile.education_level) %>
	</td>	
  </tr>
