<tr onclick="location.href='<%=profile_path(invitation.candidate.profile)%>';" style="cursor:pointer">
	

	<td>
		<%= invitation.candidate.profile.highest_position.name if invitation.candidate.profile.highest_position %>
	</td>

	<td>
	
		<%= invitation.candidate.profile.platforms.map(&:name).join(", ") %>
	</td>
	<td>
		<%= app_years(invitation.candidate.profile.app_years)  %>
	</td>
	<td>
		<%= apps_sum(invitation.candidate.profile.ios_apps, invitation.candidate.profile.android_apps) %>
	</td>			
	<td>
		<%= display_education_level(invitation.candidate.profile.education_level) %>
	</td>
	<td>
		<%= short_willingness(invitation.candidate.profile.silicon_valley, invitation.candidate.profile.silicon_valley_part_time) %>
	</td>		
  </tr>
