<tr onclick="location.href='<%=profile_path(invitation.candidate.profile)%>';" style="cursor:pointer">
	<td>
		<%= invitation.candidate.profile.latest_job_position.name if invitation.candidate.profile.latest_job_position %>
	</td>

	<td>
		<% invitation.candidate.profile.platforms.each do |platform| %>
		  		<%= platform.name %>,
		<%end%> 
	</td>
	<td>
		<%= invitation.candidate.profile.ios_years %>
	</td>		
	<td>
		<%= display_education_level(invitation.candidate.profile.education_level) %>
	</td>		
	<td>
		<%= invitation.candidate.profile.general_min_yearly_salary %>
	</td>


	<td>
		<%= time_ago_in_words(invitation.candidate.profile.updated_at)%> ago 
	</td>
  </tr>