<tr onclick="location.href='<%=profile_path(invitation.candidate.profile)%>';" style="cursor:pointer">
	

	<td>
		<%= display_education_level(invitation.candidate.profile.highest_degree.level) if invitation.candidate.profile.highest_degree %>
	</td>
	<td>
		<%= invitation.candidate.profile.highest_degree.subject.name if invitation.candidate.profile.highest_degree && invitation.candidate.profile.highest_degree.subject %>
	</td>
	<td>
		<%= invitation.candidate.profile.highest_degree.school.name if invitation.candidate.profile.highest_degree && invitation.candidate.profile.highest_degree.school %>
	</td>
	<td>
		<%= invitation.candidate.profile.highest_degree.year if invitation.candidate.profile.highest_degree %>
	</td>				
  </tr>
