<tr onclick="location.href='<%=profile_path(profile)%>';" style="cursor:pointer" title="Click to view full profile">
	<td>
		<%= profile.highest_position.name if profile.highest_position %>
	</td>

	<td>
	
		<%= profile.platforms.map(&:name).join(", ") %>
	</td>
	<td>
		<%= app_years(profile.app_years)  %>
	</td>
	<td>
		<%= apps_sum(profile.ios_apps, profile.android_apps) %>
	</td>		
	<td>
		<%= display_education_level(profile.education_level) %>
	</td>
	<td>
		<%= short_willingness(profile.silicon_valley, profile.silicon_valley_part_time) %>
	</td>	
	<td>
		<%= status(profile) %>
	</td>
  </tr>








