<tr onclick="location.href='<%=profile_path(profile)%>';" style="cursor:pointer" title="Click to view full profile">
	<td>
		<%= display_education_level(profile.highest_degree.level) if profile.highest_degree %>
	</td>
	<td>
		<%= profile.highest_degree.subject.name if profile.highest_degree && profile.highest_degree.subject %>
	</td>
	<td>
		<%= profile.highest_degree.school.name if profile.highest_degree && profile.highest_degree.school %>
	</td>
	<td>
		<%= profile.highest_degree.year if profile.highest_degree %>
	</td>	
	<td>
		<%= status(profile) %>
	</td>
  </tr>








