<tr onclick="location.href='<%=profile_path(profile)%>';" style="cursor:pointer">
	<td>
		<%= profile.latest_job_position.name if profile.latest_job_position %>
	</td>

	<td>
		<% profile.platforms.each do |platform| %>
		  		<%= platform.name %> 
		<%end%> 
	</td>
	<td>
		<%= profile.ios_years %>
	</td>		
	<td>
		<%= display_education_level(profile.education_level) %>
	</td>		
	<td>
		<%= profile.general_min_yearly_salary %>
	</td>


	<td>
		<%= time_ago_in_words(profile.updated_at)%> ago 
	</td>
  </tr>