<tr onclick="location.href='<%=profile_path(profile)%>';" style="cursor:pointer">
	<td>
		<%= profile.highest_position.name if profile.jobs.first %>
	</td>

	<td>
	
		<%= profile.platforms.map(&:name).join(", ") %>
	</td>
	<td>
		<%= profile.ios_years %>
	</td>		
	<td>
		<%= display_education_level(profile.education_level) %>
	</td>	


	<td>
		<%= time_ago_in_words(profile.updated_at)%> ago 
	</td>
	<td>
		<%= status(profile) %>
	</td>
  </tr>








