<tr onclick="location.href='<%=profile_path(profile)%>';" style="cursor:pointer" title="Click to view full profile">
	<td>
		<%= profile.highest_position.name if profile.highest_position %>
	</td>

	<td>
	
		<%= profile.platforms.map(&:name).join(", ") %>
	</td>
	<td>
		<%= app_years(profile.app_years)  %>
	</td>
	<td>
		<%= apps_sum(profile.ios_apps, profile.android_apps) %>
	</td>
			
	<td>
		<div class ="hidden-phone"><%= display_education_level(profile.education_level) %></div>
	</td>
	<td>
		<div class ="hidden-phone"><%= short_willingness(profile.silicon_valley, profile.silicon_valley_part_time) %></div>
	</td>	
	<td>
		<div class ="hidden-phone"><%= status(profile) %></div>
	</td>

  </tr>








