<h4>Please confirm your request!</h4>
	
<% if current_user.customer_id %>
<b>If this candidate approves</b>, your credit card ( <%= @cu.active_card.type%>, ending in <%= @cu.active_card.last4 %> | <%= link_to "use different card", edit_user_path(current_user)%> )<br>
will be charged <b>$4.95 USD</b> and you will receive this candidate's <br><b>full name</b> and <b>email address</b>.
<br><br>
<%= button_to "Confirm request", {:action => "invite"}, {:class => "btn btn-large btn-primary"} %>

<%else%>
<b>If the candidate approves</b>, you will be charged <b>$4.95 USD</b> <br> and you will receive the candidate's <b>full name</b> and <b>email address</b>.
<br><br>
<%= simple_form_for(current_user) do |f| %>



  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

  <button id="customButton" class="btn btn-large btn-primary">Confirm request</button>

  <script>
    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };

      StripeCheckout.open({
        key:         "<%= Rails.configuration.stripe[:publishable_key] %>",
        name:        'Submit your payment details',
        description: 'You will get charged $4.95 USD if the candidate accepts your request.',
        panelLabel:  'Submit',
        token:       token
      });

      return false;
    });
  </script>

  <%= f.hidden_field :profile_id, :value =>  @profile.id %>

<%end%>
<%end%>

You will receive a <b>full refund</b> from us if any of the information in the candidate's profile<br> turns out to be false.</b>
<br><br>
<%= render "full_profile" %>