<h3>Candidate Log In</h3>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <p><%= link_to "forgotten password?", candidate_new_password_reset_path %></p>
<br>
<%= hidden_field_tag "login_type", "candidate" %>
  <div class="actions"><%= submit_tag "Log In",:class => "btn btn-medium btn-primary" %></div>
<% end %>

<b><%= link_to "Sign up here", candidate_signup_path %> | <%= link_to "Log In with Facebook", "/auth/facebook", id: "sign_in" %></b>