
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :email, label: "Email" %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :company_name %>
    <%= f.input :website %>
    <%= f.input :contact_person %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign Up", :class => "btn btn-medium btn-primary" %>
  </div>

<% end %>

