
<%= simple_form_for(@candidate) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :email, label: "Email (remains hidden)" %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :name, label: "Your real full name (remains hidden)" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign Up Anonymously", :class => "btn btn-medium btn-primary" %>
  </div>

<% end %>

