<%= simple_form_for(@query) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

  	<%= f.input :search_term, label: "Search term" %>
  	<%= f.input :max_notice_period %>
  	<%= f.input :max_salary %>
    <%= f.input :min_years %>
    <%= f.association :min_highest_position %>
    <%= f.input :min_highest_salary %>
  	<%= f.input :min_degree, collection: [["Undergraduate/College",2], ["Graduate",3], ["Postgraduate", 4]], prompt: "Select minimum degree", label: 'Minimum degree' %>


  	<%= f.association :subject %>
  	<%= f.input :min_gpa %>
  	<%= f.input :top_schools %>



  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
